<MarketplaceDetails>
  <SmallAppTile>rn_logo_300.png</SmallAppTile>
  <ScreenShots>wvga_03.png;wvga_02.png;wvga_01.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>wxga_02.png;wxga_03.png;wxga_01.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720P_01.png;720P_02.png;720P_03.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>